{
  "env": {
    "jest": true,
    "node": true,
    "es6": true
  },
  "extends": [
    "plugin:@coorpacademy/coorpacademy/core",
    "plugin:@coorpacademy/coorpacademy/flowtype",
    "plugin:@coorpacademy/coorpacademy/react",
    "plugin:@coorpacademy/coorpacademy/prettier"
  ],
  "plugins": ["@coorpacademy/coorpacademy", "react-hooks"],
  "settings": {
    "react": {
      "version": "16.8.3",
      "flowVersion": "0.92.1"
    },
    "import/resolver": {
      "babel-module": {
        "extensions": [".ios.js", ".js", ".json"]
      }
    }
  },
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "flowtype/no-mutable-array": "off",
    "flowtype/require-exact-type": "off",
    "flowtype/no-unused-expressions": "off",
    "flowtype/no-dupe-keys": "off",
    "flowtype/require-valid-file-annotation": [
      "error",
      "always",
      {
        "annotationStyle": "line"
      }
    ],
    "react/prop-types": "off",
    "react/jsx-curly-brace-presence": ["error", "never"],
    "react/sort-comp": [
      "error",
      {
        "order": [
          "props",
          "state",
          "type-annotations",
          "instance-variables",
          "static-methods",
          "lifecycle",
          "everything-else",
          "render"
        ]
      }
    ],
    "import/no-namespace": "off",
    "import/max-dependencies": [
      "error",
      {
        "max": 20
      }
    ],
    "react/no-access-state-in-setstate": "off",
    "react/no-deprecated": "off",
    "fp/no-class": "off",
    "flowtype-errors/enforce-min-coverage": "off",
    "flowtype/require-return-type": "off",
    "flowtype-errors/show-warnings": "off",
    "flowtype-errors/show-errors": "off",
    "flowtype/spread-exact-type": "error",
    "flowtype/require-readonly-react-props": "error",
    "promise/no-native": "off",
    "class-methods-use-this": "off",
    "react-hooks/rules-of-hooks": "error", // Checks rules of Hooks
    "react-hooks/exhaustive-deps": "warn", // Checks effect dependencies
    "react/jsx-max-depth": "off",
    "react/destructuring-assignment": "off",
    "react/jsx-curly-newline": "off",
    "react/state-in-constructor": "off",
    "react/jsx-one-expression-per-line": "off",
    "default-param-last": "off",
    "unicorn/consistent-function-scoping": "off",
    "unicorn/no-unused-properties": "off"
  }
}
