{
  "env": {
    "jest": true,
    "node": true,
    "es6": true
  },
  "extends": [
    "plugin:@coorpacademy/coorpacademy/core",
    "plugin:@coorpacademy/coorpacademy/flowtype",
    "plugin:@coorpacademy/coorpacademy/react",
    "plugin:@coorpacademy/coorpacademy/prettier"
  ],
  "plugins": ["@coorpacademy/coorpacademy"],
  "settings": {
    "import/resolver": {
      "babel-module": {
        "extensions": [".ios.js", ".js", ".json"]
      }
    }
  },
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "flowtype/no-mutable-array": "off",
    "flowtype/require-exact-type": "off",
    "flowtype/no-unused-expressions": "off",
    "flowtype/no-dupe-keys": "off",
    "flowtype/require-valid-file-annotation": [
      "error",
      "always",
      {
        "annotationStyle": "line"
      }
    ],
    "react/prop-types": "off",
    "react/jsx-curly-brace-presence": ["error", "never"],
    "react/sort-comp": [
      "error",
      {
        "order": [
          "props",
          "state",
          "type-annotations",
          "instance-variables",
          "static-methods",
          "lifecycle",
          "everything-else",
          "render"
        ]
      }
    ],
    "import/no-namespace": "off",
    "import/max-dependencies": [
      "error",
      {
        "max": 20
      }
    ],
    "react/no-access-state-in-setstate": "off",
    "react/no-deprecated": "off",
    "fp/no-class": "off",
    "flowtype-errors/enforce-min-coverage": "off",
    "flowtype/require-return-type": "off",
    "promise/no-native": "off",
    "class-methods-use-this": "off"
  }
}
