{
  "env": {
    "mocha": true
  },
  "globals": {
    "device": true,
    "element": true,
    "by": true,
    "waitFor": true,
    "weExpect": true,
    "before": true
  },
  "rules": {
    "mocha/no-top-level-hooks": "false",
    "mocha/no-hooks-for-single-case": "false",
    "flowtype/require-return-type": "false"
  }
}
